#b
**/bin

#i
.info/
/.info
**/.info
**/.info**
**/.info**/

#m
/Automate.Domain/ValueObjects/PatternHelper.cs

#o
**/obj

#v
/.vs

# Added Later
Automate.Cli/Automate.Cli.csproj.user
/Automate.Cli/Automate.Cli.csproj.user
*.bat
/ForceUpdateRepos - Shortcut.lnk
