#b
**/bin

#i
.info/
/.info
**/.info
**/.info**
**/.info**/

#m
/Automate.Cli/Verbs/VerbHelper/MessageCsvType.cs
/Automate.Domain/ValueObjects/PatternHelper.cs

#o
**/obj

#r
/Automate.Infrastructure/QueryService/RawQuery.cs

#v
/.vs

# Added Later
Automate.Cli/Automate.Cli.csproj.user
/Automate.Cli/Automate.Cli.csproj.user
